// This style sheet contains default styles for widgets.

@use "colors.scss";
@use "dimens.scss";

window {
    margin: dimens.$shadow-range; /* Makes sure shadow is visible on all sides */
    padding: dimens.$window-padding;
    border-radius: dimens.$rounding;
    background: colors.$bg;
    color: colors.$fg;
    box-shadow: 0 0 dimens.$shadow-blur dimens.$shadow-spread colors.$shadow;
}
