@use "colors.scss";

window.bar-new {
    $rounding: 8px;

    padding: 4px;
    background: colors.$bg;
    color: colors.$fg;
    font-family: "Roboto";
    font-weight: 500;

    // Default widget styles

    separator {
        margin: 0;
        background: colors.$dimmed-fg;
    }

    button {
        padding: 2px 6px;
        border: 0;
        border-radius: $rounding;
        background: colors.$bg;
        color: colors.$fg;
        box-shadow: none;

        &:hover {
            background: colors.$hover-bg;
        }

        &:active {
            color: colors.$active-fg;
        }
    }

    popover {
        font-family: "Roboto";
        font-weight: 500;

        > contents {
            padding: 4px;
            border: 1px solid colors.$fg;
            border-radius: $rounding;
            background: colors.$bg;
            color: colors.$fg;
            box-shadow: 2px 3px 8px colors.$shadow;
        }
    }

    scale {
        $knob-radius: 10px;

        padding: 0 $knob-radius;

        trough {
            border: 0;
            border-radius: 80px;
            background: colors.$dimmed-fg;
        }

        highlight {
            background: colors.$active-fg;
        }

        slider {
            // This is the knob
            margin: -7px calc($knob-radius * -1);
            border: 0;
            background: colors.$fg;
            box-shadow: none;
        }

        &:active slider {
            background: colors.$active-fg;
        }
    }

    // Specific widget styles

    .bluetooth button.device {
        padding: 6px 6px 0;

        & revealer {
            padding: 0 0 6px;
        }
    }
}
