// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
//$fg-color: #{"@theme_fg_color"};
//$bg-color: #{"@theme_bg_color"};

$bg: #4c4642;
$fg: #f6ecc3;
$shadow: rgba(0, 0, 0, 0.4);

$button-border: #5b534d;
$button-bg: #393634;
$button-fg: #c2b395;
$button-hover-bg: #494340;
$button-hover-fg: #c1b194;
$button-highlight-bg: #5b524c;
$button-highlight-fg: #f6ecc3;
