// The colors are based off Gruvbox Dark Hard

$background: #4c4642;
$foreground: #f6ecc3;
$border: #1d2021; //#f6ecc3;

$group-bg: #393634;
$group-fg: #c2b395;
$group-hover-bg: #494340;
$group-hover-fg: #c1b194;
$group-active-bg: #5b524c;
$group-active-fg: #f6ecc3;
$group-border: #5b534d;
