@use "color.scss";

window.bar {
	$bar-padding: 3px;

	background: color.$bar-bg;
	color: color.$bar-fg;

	menubutton.bar-module > popover {
		margin-top: 6px;
	}

	menubutton.bar-module > button,
	button.bar-module {
		// The label is colored and the button is transparent, to simulate being able
		// to click a little bit outside of the button.

		padding: $bar-padding 0;
		border-radius: 0;
		background: transparent;

		> box {
			padding: 1px 14px;
			border-radius: 200px;
			background: color.$bar-bg;
			transition: inherit;
		}

		&:hover > box {
			background: color.$bar-hover-bg;
		}

		&:active > box,
		&:checked > box {
			background: color.$bar-active-bg;
		}
	}
}
