@use "color.scss";

window.bar {
    $button-rounding: 8px;
    $button-padding: 3px;

    > centerbox {
        padding: 4px;
        border-bottom: 1px solid color.$border;
        background: color.$background;
        color: color.$foreground;
    }

    .module.workspaces,
    .module.tray {
        border: 1px solid color.$group-border;
        border-radius: $button-rounding;
        background: color.$group-bg;
        color: color.$group-fg;

        > button,
        > menubutton > button {
            padding: $button-padding;
            border: 0;
            border-radius: 0;
            background: color.$group-bg;
            color: color.$group-fg;
            box-shadow: none;

            &:hover {
                background: color.$group-hover-bg;
                color: color.$group-hover-fg;
            }

            &:active {
                background: color.$group-active-bg;
                color: color.$group-active-fg;
            }
        }
    }

    .module.power {
        padding: $button-padding;
        border: 0;
        border-radius: $button-rounding;
        background: transparent;
        color: color.$group-fg;
        box-shadow: none;

        &:hover {
            background: color.$group-hover-bg;
            color: color.$group-hover-fg;
        }

        &:active {
            background: color.$group-active-bg;
            color: color.$group-active-fg;
        }
    }
}
