@use "colors";
@use "sass:list";

window.bar {
    > centerbox {
        padding: 4px;
        background: colors.$bg;
        color: colors.$fg;
    }

    ///////////////////////
    // Custom widget styles

    .clock {
        $gap: 8px;
        .date {
            margin-right: calc($gap / 2);
        }
        .time {
            margin-left: calc($gap / 2);
        }
    }

    .workspaces {
        button {
            border: 0;
            box-shadow: none;
            color: colors.$fg;

            &.focused {
                box-shadow: inset 0 0 0 1px colors.$primary;
                color: colors.$primary;
            }
        }
    }
}
