@use "colors";
@use "sass:list";

window.bar {
    $centerbox-pad: 5px;
    $button-pad-x: 5px;

    > centerbox {
        padding: $centerbox-pad;
        background: colors.$bg;
        color: colors.$fg;
    }

    ///////////////////////
    // Custom widget styles

    .clock {
        $gap: 8px;
        .date {
            margin-right: calc($gap / 2);
        }
        .time {
            margin-left: calc($gap / 2);
        }
    }
}
